body{ 
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span,h2{ 
    color: #ff0000;
}
.section-style{
    background-image: url('images/images/background1.jpg');
    background-repeat:no-repeat;
    background-size:1500px 500px;
    display: flex;

}
.sec1-div{
    width: 50%;
    text-align: justify;
    padding-bottom: 10%;

}
.first-img{ 
    border:3px  solid white;
    border-radius: 50%;
    width: 380px;
    height: 400px;
}
.link-button1{ 
    text-decoration: none;
    background-image: linear-gradient(gold,orange,red);
    padding: 10px 40px;
    font-weight: 900;
    color:black;
    margin-top:20px;
    border-top: 50px;
    border-radius: 10px;
}
.style2{ 
    background-image: url('images/images/images\ \(5\)1.jpg');
    background-repeat:no-repeat;
    background-size:1500px 400px;
    display: flex;

}
p{ 
    padding-bottom: 40px;
}
.link-button2{ 
    text-decoration: none;
    background-image: linear-gradient(gold,orange,red);
    padding: 10px 40px;
    font-weight: 900;
    color:black;
    border-top: 50px;
    border-radius: 10px;
}
.container{ 
    background-image: url(images/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left -2% bottom 2%;
    background-size: 15%;
}

#fullstack-div{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 7px solid;

}
#baby-div{
    border-image: linear-gradient(tomato,yellow);
    border-image-slice: 1;
    border-left: 7px solid;
}
.ex-item{ 
    padding-left: 10px;
    box-shadow: 10px 10px 20px grey;
    margin: 5%;
    width:50%;
    margin-top:1%;

}
.sec2-div{ 
    padding-top: 0%;

    display: flex;
}
.h1{ 
    margin-left:5%;
}
.footer-style{ 
    text-align:center;
    color: black;
    margin:5%;
    font-weight: 700;
}
.footer-style a:hover{ 
    color:crimson
}